/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .table-title {
    @apply text-3xl font-bold text-gray-700;
  }
  .hr {
     @apply my-3 border-none h-[1px] bg-gray-300
  }
}
